@font-face {
  font-family: 'AvenirNext-Medium';
  src: url('../fonts/AvenirNext-Medium.eot'); /* IE9 Compat Modes */
  src: url('../fonts/AvenirNext-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/AvenirNext-Medium.woff2') format('woff2'), /* Modern Browsers */
    url('../fonts/AvenirNext-Medium.woff') format('woff'), /* Modern Browsers */
    url('../fonts/AvenirNext-Medium.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/AvenirNext-Medium.svg') format('svg'); /* Legacy iOS */  font-weight: normal;
  font-style: normal;
  font-weight: normal;
}

/* @font-face { */
/*     font-family: 'portermedium'; */
/*     src: url('../fonts/porter_medium-webfont.eot'); */
/*     src: url('../fonts/porter_medium-webfont.eot?#iefix') format('embedded-opentype'), */
/*          url('../fonts/porter_medium-webfont.woff2') format('woff2'), */
/*          url('../fonts/porter_medium-webfont.woff') format('woff'), */
/*          url('../fonts/porter_medium-webfont.ttf') format('truetype'), */
/*          url('../fonts/porter_medium-webfont.svg#portermedium') format('svg'); */
/*     font-weight: normal; */
/*     font-style: normal; */
/* } */


@font-face {
  font-family: 'AvenirNext-MediumItalic';
  src: url('../fonts/AvenirNext-MediumItalic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/AvenirNext-MediumItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/AvenirNext-MediumItalic.woff2') format('woff2'), /* Modern Browsers */
    url('../fonts/AvenirNext-MediumItalic.woff') format('woff'), /* Modern Browsers */
    url('../fonts/AvenirNext-MediumItalic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/AvenirNext-MediumItalic.svg') format('svg'); /* Legacy iOS */  font-weight: normal;
  font-style: normal;
  font-weight: normal;
}


.intro-speakers {
	margin-top: -1px;
	background-color: #204876;
	text-align: center;
	line-height: 40px; 
}

.meet-text {
	font-family: 'AvenirNext-Medium';
	color: #FFFFFF;
	padding-left: 125px;
	font-size: 20px;
}

.speakers-text {
	/* font-family: 'portermedium'; */
	color: #50E3C2;
	font-weight: bold;
	font-size: 45px;
}

.trianglebanner {
	margin-top: -1px;
	width: 100%;
}

.solid-speaker {
	margin-top: -1px;
	text-align: center;
	background-color: #204876;
	height: 780px;
}

.split-speaker {
	text-align: center;
	background-color: #103261;
	height: 780px;
}

#speaker-picture {
	padding-top: 75px;
	margin-left: 15px;
	width: 225px;
	margin: auto;
}

#icons {
	display: inline-block;
}

.linkedin-icon {
	transform: translateY(-35px);
	font-size: 0.7em;
	padding-left: 15px;
	color: #50E3C2;
	display: block;
}

.linkedin-icon:hover {
	transform: translateY(-35px);
	font-size: 0.7em;
	padding-left: 15px;
	color: #FFFFFF;
	display: block;
}

.twitter-icon {
	transform: translateY(-25px);
	font-size: 0.7em;
	padding-left: 15px;
	color: #50E3C2;
	display: block;
}

.twitter-icon:hover {
	transform: translateY(-25px);
	font-size: 0.7em;
	padding-left: 15px;
	color: #FFFFFF;
	display: block;
}

#content, #content-split {
	text-align: center;
	transform: translateX(15px) !important;
}

.name {
	/* font-family: 'portermedium'; */
	padding-top: 25px;
	transform: translateX(-13px);
	color: #50E3C2;
	font-size: 25px;
}

.name-title-separator {
	transform: translateX(-75px);
	width: 100px;
	border-width: 4px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.title {
	font-family: 'AvenirNext-MediumItalic';
	transform: translateX(-20px);
	color: #FFFFFF;
	font-size: 20px;
}

.info {
	padding-top: 20px;
 	color: #FFFFFF;
 	text-align: left;
 	width: 250px;
 	margin: 0 auto;
}

@media(min-width: 768px) {
	.solid-speaker {
		height: 480px;
	}
	.split-speaker {
		height: 480px;
	}
	#content {
		padding-top: 25px;
		display: inline-block;
	}
	#content-split {
		padding-top: 25px;
		display: inline-block;
		transform: translateX(-20px) !important;
	}
	#speaker-picture {
		margin-top: -325px;
		width: 300px;
		display: inline-block;
		transform: translateX(10px);
	}
	.info {
		font-size: 15px;
		width: 400px;
		transform: translateX(20px);
	}
	.title {
		font-size: 25px;
		transform: translateX(-30px);
	}
	.name-title-separator {
		transform: translateX(-130px);
	}
	.name {
		font-size: 40px;
		transform: translateX(-5px);
	}
	.twitter-icon, .twitter-icon:hover {
		padding-left: 20px;
		transform: translateY(-220px);
	}
	}
	.linkedin-icon, .linkedin-icon:hover {
		padding-left: 20px;
		transform: translateY(-240px);
	}
}
