.intro-speakers {
	background-color: #204876;
	text-align: center;
	line-height: 40px; 
}

.meet-text {
	color: #FFFFFF;
	padding-left: 125px;
	font-size: 20px;
}

.speakers-text {
	color: #50E3C2;
	font-weight: bold;
	font-size: 45px;
}

.trianglebanner {
	width: 100%;
}

.solid-speaker {
	text-align: center;
	background-color: #204876;
	height: 780px;
}

.split-speaker {
	text-align: center;
	background-color: #103261;
	height: 780px;
}

.speaker-picture {
	padding-top: 75px;
	margin-left: 15px;
	width: 225px;
}

.icons {
	display: inline-block;
}

.linkedin-icon {
	transform: translateY(-35px);
	font-size: 0.7em;
	padding-left: 15px;
	color: #FFFFFF;
	display: block;
}

.linkedin-icon:hover {
	transform: translateY(-35px);
	font-size: 0.7em;
	padding-left: 15px;
	color: #50E3C2;
	display: block;
}

.twitter-icon {
	transform: translateY(-25px);
	font-size: 0.7em;
	padding-left: 15px;
	color: #FFFFFF;
	display: block;
}

.twitter-icon:hover {
	transform: translateY(-25px);
	font-size: 0.7em;
	padding-left: 15px;
	color: #50E3C2;
	display: block;
}


.content {
	text-align: center;
}

.name {
	padding-top: 25px;
	transform: translateX(-40px);
	color: #50E3C2;
	font-size: 25px;
}

.name-title-separator {
	transform: translateX(-75px);
	width: 100px;
	border-width: 4px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.title {
	transform: translateX(-68px);
	color: #FFFFFF;
	font-size: 20px;
}

.info {
	padding-top: 20px;
 	color: #FFFFFF;
 	text-align: left;
 	width: 250px;
 	margin: 0 auto;
}

@media(max-width: 768px) {

}