#connect {
	text-align: center;
	padding-bottom: 100px;
}

.connect-big-text {
	font-family: 'portermedium';
	color: #50E3C2;
	padding-top: 50px;
	font-size: 45px;
}

@media(min-width: 768px) {
	.connect-big-text {
		padding-top: 25px;
	}
}
