
#navbar-container {
  min-height: 100px;
}

@font-face {
    font-family: 'portermedium';
    src: url('porter_medium-webfont.eot');
    src: url('porter_medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('porter_medium-webfont.woff2') format('woff2'),
         url('porter_medium-webfont.woff') format('woff'),
         url('porter_medium-webfont.ttf') format('truetype'),
         url('porter_medium-webfont.svg#portermedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'AvenirNext-Regular';
  src: url('./fonts/AvenirNext-Regular.eot'); /* IE9 Compat Modes */
  src: url('./fonts/AvenirNext-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./fonts/AvenirNext-Regular.woff2') format('woff2'), /* Modern Browsers */
    url('./fonts/AvenirNext-Regular.woff') format('woff'), /* Modern Browsers */
    url('./fonts/AvenirNext-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('./fonts/AvenirNext-Regular.svg') format('svg'); /* Legacy iOS */  font-weight: normal;
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'AvenirNext-Medium';
  src: url('./fonts/AvenirNext-Medium.eot'); /* IE9 Compat Modes */
  src: url('./fonts/AvenirNext-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./fonts/AvenirNext-Medium.woff2') format('woff2'), /* Modern Browsers */
    url('./fonts/AvenirNext-Medium.woff') format('woff'), /* Modern Browsers */
    url('./fonts/AvenirNext-Medium.ttf') format('truetype'), /* Safari, Android, iOS */
    url('./fonts/AvenirNext-Medium.svg') format('svg'); /* Legacy iOS */  font-weight: normal;
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'AvenirNext-MediumItalic';
  src: url('./fonts/AvenirNext-MediumItalic.eot'); /* IE9 Compat Modes */
  src: url('./fonts/AvenirNext-MediumItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./fonts/AvenirNext-MediumItalic.woff2') format('woff2'), /* Modern Browsers */
    url('./fonts/AvenirNext-MediumItalic.woff') format('woff'), /* Modern Browsers */
    url('./fonts/AvenirNext-MediumItalic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('./fonts/AvenirNext-MediumItalic.svg') format('svg'); /* Legacy iOS */  font-weight: normal;
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'AvenirNext-Bold';
  src: url('./fonts/AvenirNext-Bold.eot'); /* IE9 Compat Modes */
  src: url('./fonts/AvenirNext-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./fonts/AvenirNext-Bold.woff2') format('woff2'), /* Modern Browsers */
    url('./fonts/AvenirNext-Bold.woff') format('woff'), /* Modern Browsers */
    url('./fonts/AvenirNext-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
    url('./fonts/AvenirNext-Bold.svg') format('svg'); /* Legacy iOS */  font-weight: normal;
  font-style: normal;
  font-weight: normal;
>>>>>>> c0b3c3af43c32e3fb205d14f27b8ab92e69850a5
}

#navbar-main {
  background-color: #FFFFFF;
  border: 0px;
  margin: 0px;
}

#top {
  height: 10px;
  background-color: #50E3C2;
}

.navbar-inverse {
  background-color: #FFFFFF;
}

.navbar-header {
  background-color: #FFFFFF;
}

#menu-button {
  background-color: #EEF5FC;
  border-radius: 8px;
  border-width: 0px;
}

.icon-bar {
  background-color: #000000 !important;
}

#bs-example-navbar-collapse-1 {
  padding: 0px;
  border: 0px;
}

.navbar-nav {
  text-align: right;
  font-size: 20px;
  margin: 0px;
}

.nav-item {
  color: #000000 !important;
}
.nav-item:hover {
  color: #50E3C2 !important;
}

@media(min-width: 768px) {

  .nav-item {
    padding-left: 25px !important;
    padding-right: 25px !important;
  }

  #navbar-main {
    background-color: #EEF5FC;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .navbar-nav {
    font-size: 20px;
    background-color: #EEF5FC;
  }

}
