/* @font-face { */
/*     font-family: 'portermedium'; */
/*     src: url('../fonts/porter_medium-webfont.eot'); */
/*     src: url('../fonts/porter_medium-webfont.eot?#iefix') format('embedded-opentype'), */
/*          url('../fonts/porter_medium-webfont.woff2') format('woff2'), */
/*          url('../fonts/porter_medium-webfont.woff') format('woff'), */
/*          url('../fonts/porter_medium-webfont.ttf') format('truetype'), */
/*          url('../fonts/porter_medium-webfont.svg#portermedium') format('svg'); */
/*     font-weight: normal; */
/*     font-style: normal; */
/* } */


@font-face {
  font-family: 'AvenirNext-Medium';
  src: url('../fonts/AvenirNext-Medium.eot'); /* IE9 Compat Modes */
  src: url('../fonts/AvenirNext-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/AvenirNext-Medium.woff2') format('woff2'), /* Modern Browsers */
    url('../fonts/AvenirNext-Medium.woff') format('woff'), /* Modern Browsers */
    url('../fonts/AvenirNext-Medium.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/AvenirNext-Medium.svg') format('svg'); /* Legacy iOS */  font-weight: normal;
  font-style: normal;
  font-weight: normal;
}



#title-section {
	padding: 100px 0px;
	width: 250px;
	margin: 0 auto;
	padding-bottom: 75px;
}

.presents-text {
	font-family: 'AvenirNext-Medium';
	color: #BDBCBD;
	font-size: 20px;
}

.title-text {
	/* font-family: 'portermedium'; */
	color: #50E3C2;
	font-weight: bold;
	font-size: 45px;
}

.mobile-triangleheader {
	width: 100%;
	padding: 0px;
}

@media(min-width: 768px) {
	.mobile-triangleheader{
		display: none;
	}
}

@media(min-width: 768px) {
	#title-section {
		height: 88vh;
		padding-top: 25vh;
		padding-right: 70vw;
	}
	#header-image {
		background-image: url("../images/header.png");
		background-size: 100vw 88vh;
	}
}
