@font-face {
    font-family: 'portermedium';
    src: url('porter_medium-webfont.eot');
    src: url('porter_medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('porter_medium-webfont.woff2') format('woff2'),
         url('porter_medium-webfont.woff') format('woff'),
         url('porter_medium-webfont.ttf') format('truetype'),
         url('porter_medium-webfont.svg#portermedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'AvenirNext-Regular';
  src: url('./fonts/AvenirNext-Regular.eot'); /* IE9 Compat Modes */
  src: url('./fonts/AvenirNext-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./fonts/AvenirNext-Regular.woff2') format('woff2'), /* Modern Browsers */
    url('./fonts/AvenirNext-Regular.woff') format('woff'), /* Modern Browsers */
    url('./fonts/AvenirNext-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('./fonts/AvenirNext-Regular.svg') format('svg'); /* Legacy iOS */  font-weight: normal;
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'AvenirNext-Medium';
  src: url('./fonts/AvenirNext-Medium.eot'); /* IE9 Compat Modes */
  src: url('./fonts/AvenirNext-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./fonts/AvenirNext-Medium.woff2') format('woff2'), /* Modern Browsers */
    url('./fonts/AvenirNext-Medium.woff') format('woff'), /* Modern Browsers */
    url('./fonts/AvenirNext-Medium.ttf') format('truetype'), /* Safari, Android, iOS */
    url('./fonts/AvenirNext-Medium.svg') format('svg'); /* Legacy iOS */  font-weight: normal;
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'AvenirNext-MediumItalic';
  src: url('./fonts/AvenirNext-MediumItalic.eot'); /* IE9 Compat Modes */
  src: url('./fonts/AvenirNext-MediumItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./fonts/AvenirNext-MediumItalic.woff2') format('woff2'), /* Modern Browsers */
    url('./fonts/AvenirNext-MediumItalic.woff') format('woff'), /* Modern Browsers */
    url('./fonts/AvenirNext-MediumItalic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('./fonts/AvenirNext-MediumItalic.svg') format('svg'); /* Legacy iOS */  font-weight: normal;
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'AvenirNext-Bold';
  src: url('./fonts/AvenirNext-Bold.eot'); /* IE9 Compat Modes */
  src: url('./fonts/AvenirNext-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./fonts/AvenirNext-Bold.woff2') format('woff2'), /* Modern Browsers */
    url('./fonts/AvenirNext-Bold.woff') format('woff'), /* Modern Browsers */
    url('./fonts/AvenirNext-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
    url('./fonts/AvenirNext-Bold.svg') format('svg'); /* Legacy iOS */  font-weight: normal;
  font-style: normal;
  font-weight: normal;
}

#why-education {
	padding-top: 50px;
	padding-bottom: 75px;
	text-align: center;
}

.why-text {
	width: 300px;
	margin: 0 auto;
	font-size: 20px;
}

.line-teal {
	padding: 20px;
	width: 150px;
}

.green-color {
	color: #50E3C2;
}

@media(min-width: 768px) {
	#why-education {
		padding-top: 100px;
	}
}
